@import url('https://fonts.googleapis.com/css?family=Pacifico');

*{
	/* Schriftart ändern */
	font-family: 'Pacifico', cursive;
	/*font-family: Verdana;*/
	background-color: #FFDB89;
}

/* Überschrift "Backfee" durch Logo ersetzen */
/* https://pehbehbeh.de/webentwicklung/html-css/methoden-text-bilder-ersetzen/ */
a#logo { 	
    position: relative;
    top: -15px;
    left: 25%;
}

a.log {	
    position: relative;
    top: -45px;
    right: -32%;
 }

/* Navigation Bar */
/* https://www.w3schools.com/Css/tryit.asp?filename=trycss_navbar_horizontal_dividers */

/* https://arkiv.dbwebb.se/kod-exempel/dynamic_php_menu/ */
.navbar {
	display: table;
	margin: 0px auto;
	background-color: #FFDE9E;
	/*font-family:Verdana;*/
	padding: 1.0em 10% 1.0em 10%;
	border: #B60034 7px ridge;	
}
.navbar a {
	background-color: #FFCB68;
	color:black;
	padding:0.3em;
	text-decoration:none;
	border: #B60034 4px outset;
	
}
.navbar a:hover {
	background-color:orange;
	padding:0.3em 0.3em 0.3em 0.3em;
}
.navbar a.selected {
	background-color: #fff;
	padding: 0.3em 0.3em 0.3em 0.3em;
	color: #333;
}

#navi {
	margin: 0px auto;
	display:table;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	border-right: 10px solid #FFDE9E;
}

li:last-child {
	border-right: none;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
	background-color: #FFCB68;
}

li a:hover:not(.active){
	background-color: orange;
}

.active {
	background-color: #B60034;
	color: white;
}

h2{
	/* font-family:Pacifico;
	https://fonts.google.com/specimen/Pacifico
	*/
}

/* Login */
/* Full-width input fields */
input[type=text], input[type=password] {
	background-color: #FFDE9E;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px groove #B60034;
    box-sizing: border-box;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
	background-color: #FFDB89;
    padding: 16px;
    border: 3px ridge #B60034;
}

/* The Modal (background) "Fenster öffnet sich" Hintergrund grau*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #FFCB68;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 5px ridge #B60034;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 20px;
    top: 5px;
    color: #000;
    font-size: 28px;
    font-weight: bold;
    border: 3px groove #B60034;
    background-color: orange;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

button {
	background-color: #FFCB68;
	border: #B60034 5px outset;
}

/*--hover-glitzer-beginn-
https://hilfe.forumieren.com/t14918-mouseover-glitzereffekt-css*/
a:hover {
            POSITION: relative; 
            TOP: 1.0px; LEFT: 1.0px;}
a:hover {
            background-image:url(http://i69.servimg.com/u/f69/11/49/29/60/stern110.gif);
            }
/*--hover-glitzer-end--*/

.Impressum {
    text-align: center;
    position: relative;
    bottom: 5px;
    left: 2.5%;
    background-color: #FFDE9E;
    padding: 10px;
    border: 5px ridge #B60034;


    width: 90%;

}

table#StartRahmenTR {
    /*position: relative;*/
    border: #B60034 10px ridge;
    width: 70%;
    top: 5em;

    margin: 0px auto;
    vertical-align: 50%
    z-index: 1;

    

   
}

td#StartBildTR {
    
    border: #B60034 5px ridge;
    
    
}

img#BildTR { 

    float: left;

    width: 90%;
    margin: 3%;
    border: 5px outset #B60034;

    
}

p#Rahmen1 {
    color: transparent;
    position: relative;
    border: 5px #B60034;
    border-style: hidden ridge hidden hidden;
    height: 10em;
    width: 0em;
    left: 86%;
    top: 12.5em;
    z-index: 0;
}
p#Rahmen2 {
    position: relative;
    border: 5px #B60034;
    border-style: ridge hidden hidden hidden;
    width: 50%;
    top: -0.2em;
    margin: 0px auto;
}
p#Rahmen3 {
    position: relative;
    border: 5px #B60034;
    border-style: hidden hidden ridge hidden;
    width: 50%;
    top: 0.2em;
    margin: 0px auto;
}
p#Rahmen4 {
    color: transparent;
    position: relative;
    border: 5px #B60034;
    border-style: hidden hidden hidden ridge;
    height: 10em;
    width: 0em;
    left: 13%;
    bottom: 12.5em;
}
